@tailwind base;
@tailwind components;
@tailwind utilities;

/* Nice default rendering */
html, body {
  height: 100%;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}